.box {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-end;
}

.start {
  align-items: flex-start;
}

.label {
  composes: label-sm tk-16 from '../../design/typography.module.css';
  color: var(--white-45);
}

.row {
  display: flex;
  gap: 14px;
  align-items: center;
}

.code {
  composes: code tk-20 from '../../design/typography.module.css';
  color: var(--mint);
}
